DB_HOST=chat_db
DB_PORT=5432
DB_NAME=chatbot_db
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
ft_user=YOUR_MAIN_DB_USER
ft_password=YOUR_MAIN_DB_PASSWORD
ft_db=mydb
OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY
GROQ_API_KEY=YOUR_GROQ_API_KEY
DJANGO_SECRET_KEY=YOUR_DJANGO_SECRET_KEY
SOCIAL_AUTH_42_KEY=YOUR_42_KEY
SOCIAL_AUTH_42_SECRET=YOUR_42_SECRET